{{template "partials/header" .}}

<h1>Daftar Produk</h1>
<br>
<a href="/products/create" class="btn btn-primary">Tambah Produk</a>
<div>
	<table class="table table-striped">
		<thead>
		  <tr>
			<th scope="col">ID</th>
			<th scope="col">Nama Product</th>
			<th scope="col">Image</th>
			<th scope="col">Detail Product</th>
			<th scope="col">Quantity</th>
			<th scope="col">Harga</th>
			<th scope="col">Actions</th>
		  </tr>
		</thead>
		<tbody>
			{{range .Products}}
			<tr>
				<th scope="row">{{.Id}}</th>
				<td>{{.Name}}</td>
				<td><img src="/public/images/{{ .Image }}" width="70" height="100%" alt="{{ .Name }}"/></td>
				<td>{{.Description}}</td>
				<td>{{.Quantity}}</td>
				<td>{{.Price}}</td>
				<td>
					<a href="/products/productdetail?id={{.Id}}" class="btn btn-outline-info">
						Detail</a>
					&nbsp;
					<a href="/products/editproduct/{{.Id}}" class="btn btn-warning">Edit</a>
					&nbsp;
					<a href="/products/deleteproduct/{{.Id}}" class="btn btn-danger" onclick="return confirm('yakin Anda Menghapus Transaksi{{ .Name }}?')">Hapus</a>  
				</td>
			</tr>
		  {{end}}
		  
		</tbody>
	  </table>
</div>

{{template "partials/footer" .}}